
<aside class="shadow shadow-black-500 flex flex-col items-center justify-between" id="sidebar">
  <div class="w-full text-right">
    <button class="text-2xl font-semibold w-10 h-10 m-6 rounded-full">&lt;&lt;</button>
  </div>
  <ul class="list-none text-xl h-96 m-16">
      <li class="pb-12"><span class="mr-3"><i class="fa-brands fa-twitter"></i></span>
        <a href="#">Twitter</a>
      </li>
      <li class="pb-12"><span class="mr-3"><i class="fa-brands fa-instagram"></i></span>
        <a href="#about">Instagram</a>
      </li>
      <li class="pb-12"><span class="mr-3"><i class="fa-brands fa-github"></i></span>
        <a href="#skills">GitHub</a>
      </li>
  </ul>
  <div></div>
</aside>
<main id="main-container">
  <div class="w-full h-24 flex flex-row items-center justify-between" id="main-header">
    <h1 id="header-text" class="text-2xl font-semibold mt-16 ml-24 h-full text-center">
      Decorative.
    </h1>
    <ul class="list-none inline w-2/6 h-full flex flex-row items-center justify-between">
      <li class="inline-block"><a href="#">Home</a></li>
      <li class="inline-block"><a href="#about">Shop</a></li>
      <li class="inline-block"><a href="#skills">Collection</a></li>
      <li class="inline-block"><a href="#work-experience">Gallery</a></li>
  </ul>
  <div class="h-full w-28 ml-24 inline" id="profile-pic">
    <img class="max-w-none h-10 w-10 mt-6 ml-12 rounded-full" src="../assets/profilepic.jpeg" alt="test">
  </div>
  </div>
</main>