:host {
display: flex;
flex-direction: row;
   }
.expand{
    width: 20%;
    transition: width 0.3s;
}
.collapse{
    width: 5%;
    visibility:visible;
    transition: width 0.3s;
}
.active{
    color: black;
    font-weight: 600;
}
#header-text{
    background: linear-gradient(to right, rgb(153, 151, 151) 40%, black 50%);
  
    /* Clip the background to the text */
    -webkit-background-clip: text;
    
    /* Make the text color transparent to show the gradient */
    -webkit-text-fill-color: transparent;
}
#main-container{
    /* background-image: url(../assets/backgroun-images/background_1.jpg);  */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}